.f-container{
    justify-content: space-between; 
}

@media (max-width: 768px) {
    .f-container {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items */
    }
}

 .f-left{
     gap: 1rem;
 }
.f-menu{
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .f-menu {
        margin-top: 1rem; /* Adjust margin for smaller screens */
        text-align: center; /* Center text on smaller screens */
    }
}

 @media (max-width:768px) {
     .f-container{
         justify-content: center;
     }
     .f-container>div{
         align-items: center!important;
         text-align: center;
     }
     
 }
